/* Общие параметры страницы */
body {
    margin: 0;
    padding: 0;
    width: 1100px;
    height: 3028px;
    background-color: #f0f0f0; /* Пример фона */
    font-family: 'Raleway', sans-serif;
}


.header {
    width: 1100px;
    height: 293px;
    background-color: white;
    position: relative;
}

.menu {
    width: 391.4786376953125px;
    height: 22.00001335144043px;
    position: absolute;
    top: 133px;
    left: 50px;
    display: flex;
    justify-content: space-between;
}

.menu a {
    text-decoration: none;
    color: black;
}

.logo {
    width: 148px;
    height: 105px;
    position: absolute;
    top: 92px;
    left: 478px;
    background-size: cover;
}

.contacts {
    width: 240px;
    height: 98px;
    position: absolute;
    top: 95px;
    left: 810px;
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contacts p {
    margin: 0;
}

.auction {
    width: 1100px;
    height: 757px;
    position: relative;
    top: 293px;
    background-image: url('../images/cover.jpg'); 
    background-size: cover;
    background-position: center;
}

.title {
    position: relative;
    width: 1000px;
    height: 600px;
    border: 1px solid #ccc;
}
.word1 {
    position: absolute;
    top: 165px;
    left: 50px;
    width: 286px;
    height: 115px;
    font-family: Raleway;
    font-weight: 700;
    font-style: Bold;
    font-size: 100px;
    line-height: 114.99999999999999%;
    letter-spacing: 30%;
    text-transform: uppercase;
    background-color: transparent;
    color: #FFFFFF;

}

.word2 {
    position: absolute;
    top: 300px;
    left: 380.5px;
    width: 339px;
    height: 115px;
    font-family: Raleway;
    font-weight: 700;
    font-style: Bold;
    font-size: 100px;
    line-height: 114.99999999999999%;
    letter-spacing: 30%;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    color: #FFFFFF;
}

.word3 {
    position: absolute;
    top: 435px;
    left: 663px;
    width: 387px;
    height: 115px;
    font-family: Raleway;
    font-weight: 700;
    font-style: Bold;
    font-size: 100px;
    line-height: 114.99999999999999%;
    letter-spacing: 30%;
    text-align: right;
    text-transform: uppercase;
    background-color: transparent;
    color: #FFFFFF;
}
.description {
    width: 668px;
    height:28px;
    position: absolute;
    top: 668px;
    left: 50px;
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 51px;
}

.bid-button {
    position: absolute;
    top: 656px;
    right: 50px;
    width: 256px;
    height: 51px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-size: 22px;
    cursor: pointer;
}

* {
    box-sizing: border-box;
}
.nav-section {
    position: absolute;
    top: 1230px;
    left: 24px;
    width: 1,052px;
    height: 723px;
    background-color: transparent;
}

h1 {
    width: 121px;
    height: 47px;
    font-size: 40px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    background-color: #000000;
    color: white;
    margin-bottom: 74px;
    padding-left: 40px;
}

.cards-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.card {
    position: relative;
    width: 334px;
    height: 596px;
    background-color: #00000099;
    color: white;
    padding: 40px;
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
}

.card:nth-child(2) { /* Смещение второй карточки */
    left: 8px;
}

.card img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
}

.card h2 {
    font-size: 22px;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
    text-decoration: underline;
    max-width: 254px;
    margin-bottom: 20px;
}

.card p {
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    max-width: 254px;
}

.see-more {
    position: absolute;
    top: 700px;
    left: 40px;
    width: 192px;
    height: 23px;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    background-color: #000000;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 10px 0;
}

.see-more:hover,
.card:hover {
    transform: scale(1.05);
}
.main-section {
    position: absolute;
    top: 2073px;
    left: 24px;
    width: 1052px;
    height: 595px;
    background-color: transparent;
}

.logo-column {
    position: absolute;
    top: 35px;
    left: 47px;
    width: 240px;
    height: 240px;
}

.logo {
    width: 240px;
    height: 240px;
}

.auction-title {
    position: absolute;
    top: 3px;
    left: 300px;
    width: 291px;
    height: 47px;
    font-size: 40px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    background-color: #000000;
    color: white;
    padding-left: 10px;
}

.main-text {
    position: absolute;
    top: 150px;
    left: 300px;
    width: 688px;
    height: 120px;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
    background-color: #000000;
    color: white;
    padding-left: 10px;
}

.additional-text {
    position: absolute;
    top: 294px;
    left: 300px;
    width: 693px;
    height: 168px;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
    background-color: #000000;
    color: white;
    padding-left: 10px;
}
.footer-section {
    position: absolute;
    top: 2848px;
    width: 1100px;
    height: 180px;
    background-color: #ffffff;
}

.footer-contacts {
    position: absolute;
    left: 50px;
    width: 264.573486328125px;
    height: 98px;
    border: 1px solid #000000;
}

.contacts .phone {
    width: 264px;
    height: 24px;
    color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
}

.contacts .email {
    width: 264px;
    height: 24px;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}

.contacts .address {
    width: 260.70001220703125px;
    height: 49px;
    font-size: 18px;
    line-height: 24.3px;
    color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
}

.menus {
    position: absolute;
    top: 1px;
    left: 468.6px;
    width: 163.89999389648438px;
    height: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #000000;
}

.menus a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
    line-height: 100%;
}

.menus .home {
    width: 73.69999694824219px;
    height: 21px;
}

.menus .lots {
    width: 163.89999389648438px;
    height: 22px;
}

.menus .auctions {
    width: 118.80000305175781px;
    height: 22px;
}

.socials {
    position: absolute;
    top: 1px;
    left: 810px;
    width: 240px;
    height: 48px;
    display: flex;
    gap: 48px;
    border: 1px solid #ffffff;
}

.socials a {
    width: 48px;
    height: 48px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
}

.socials img {
    width: 48px;
    height: 48px;
}