
.header {
    background-color: white;
    position: relative;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.menu a {
    text-decoration: none;
    color: black;
}

.logo {
    background-size: cover;
}

.contacts {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contacts p {
    margin: 0;
}

.auction {
    background-image: url('../images/cover.jpg'); 
    background-size: cover;
    background-position: center;
}

.title {
    border: 1px solid #ccc;
}
.title-text {
    font-family: Raleway;
    font-weight: 700;
    font-style: Bold;
    font-size: 100px;
    line-height: 115%;
    letter-spacing: 30%;
    text-transform: uppercase;
    background-color: transparent;
    color: #FFFFFF;
}

.title-text_center {
    text-align: center;
}
.title-text_rigth {
    text-align: right;
}


.description {
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 51px;
}

.bid-button {
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-size: 22px;
    cursor: pointer;
}

* {
    box-sizing: border-box;
}
.nav-section {
    background-color: transparent;
}


.cards-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.card {
    position: relative;
    width: 334px;
    height: 596px;
    background-color: #00000099;
    color: white;
    padding: 40px;
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
}

.card:nth-child(2) { /* Смещение второй карточки */
    left: 8px;
}

.card img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
}

.card h2 {
    font-size: 22px;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
    text-decoration: underline;
    max-width: 254px;
    margin-bottom: 20px;
}

.card p {
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    max-width: 254px;
}

.see-more {
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    background-color: #000000;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 10px 0;
}

.see-more:hover,
.card:hover {
    transform: scale(1.05);
}
.main-section {

    background-color: transparent;
}

.logo-column {

}

.logo {
    width: 240px;
    height: 240px;
}

.auction-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    background-color: #000000;
    color: white;
    padding-left: 10px;
}

.main-text {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
    background-color: #000000;
    color: white;
    padding-left: 10px;
}

.additional-text {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
    background-color: #000000;
    color: white;
    padding-left: 10px;
}
.footer-section {

    top: 2848px;
    width: 1100px;
    height: 180px;

}

.footer-contacts {
    left: 50px;
    width: 265px;
    height: 98px;
 
}

.contacts .phone {
    width: 264px;
    height: 24px;

    margin: 0;
    padding: 0;
}

.email {

    margin: 0;
    padding: 0;
}

.address {
    font-size: 18px;
    line-height: 24.3px;

    margin: 0;
    padding: 0;
}

.menus {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #000000;
}

.menus a {
 
    text-decoration: none;
    font-size: 18px;
    line-height: 100%;
}




.socials {
    display: flex;
    gap: 48px;
    border: 1px solid #ffffff;
}

.socials a {

    background-color: #ffffff;
    border: 1px solid #ffffff;
}

.socials img {
    width: 48px;
    height: 48px;
}